*{
    margin:0;
    padding:0;
}
html, body{
    height: 100%;
}
body {
    margin:0;
    padding:0;
    background-color: darkblue;
    background-image:url(bg.jpg);
    background-size: cover;
}
.heading{
    width: 600px;
    height: 300px;
    margin:auto;
    position:absolute;
    top:0px; bottom: 0px; right: 0px; left:0px;
    
}
.title1{
    display: block;
    text-align: center;
    color: white;
    font-size: 500%;
    font-family: quicksand;
    font-weight: bold;
    
}
.title2{
    display: block;
    margin-top:15px;
    font-size: 23pt;
    text-align: center;
    font-family: quicksand;
    color: white; 
}
.Shopbutton{
    margin: 5% auto;
    display: block;
    border: 3px solid white;
    border-radius: 3px;
    background-color:rgba(0,0,0,0.5);
    width: 250px;
    height: 50px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0px 0px 10px white;
    transition: background-color 1000ms, color 1000ms
}
.Shopbutton:hover{
    background-color:rgba(255,255,255,1);
    color:black;
}
.nav{
  color: whitesmoke;
  text-align: center;  
  font-family: quicksand;    
  margin: 20px 0px 20px 0px;
  font-size: 120%;
}
.nav li{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.one{
    
}
#shop{
    border: 2px solid white;
    transition: background-color 1000ms, color 1000ms

}
#shop:hover{
    background-color:rgba(255,255,255,0.5);
    color:black ;
        box-shadow: 0px 0px 1px black;
}
#particles-js{
   height: 200%;
    
}